<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Home Page </title>
  <!-- Bootstrap CSS Local -->
  <link rel="stylesheet" href="{% static 'restapi/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'restapi/css/table.css' %}">
</head>

<body>



  <h1> {{request.user.id}}</h1>

  <h2> We have all List of Page in this Website </h2>

















</body>

</html>